<vxml version="2.1">
   <menu id="language" dtmf="true">
      <prompt>Welcome to Farmers Voices for Amazing Crops. Select 1 for English, select 2 for Dutch.</prompt>
      <audio src="/announcements/recordings/dutch_intro.wav" fetchtimeout="5s"> </audio>
      <choice next="#english" />
      <choice next="#dutch" />
<!--      <choice next="#bambara" />-->
<!--      <choice next="#bomu" />-->
   </menu>
   <menu id="english" dtmf="true">
      <prompt>You chose English. If you want to sell your seeds, select 1. If you want to buy seeds, select 2.</prompt>
      <choice next="#record_announcement_english" />
      <choice next="#english_buy" />
   </menu>
   <menu id="dutch" dtmf="true">
      <audio src="/announcements/recordings/dutch_buy_or_sell.wav" fetchtimeout="5s"> </audio>
      <choice next="#record_announcement_dutch" />
      <choice next="#dutch_buy" />
   </menu>
<!--   <menu id="bambara" dtmf="true">-->
<!--      <prompt>You chose Bambara. If you want to sell your seeds, select 1. If you want to buy seeds, select 2.</prompt>-->
<!--      <choice next="#bambara_sell" />-->
<!--      <choice next="#bambara_buy" />-->
<!--   </menu>-->
<!--   <menu id="bomu" dtmf="true">-->
<!--      <prompt>You chose Bomu. If you want to sell your seeds, select 1. If you want to buy seeds, select 2.</prompt>-->
<!--      <choice next="#bomu_sell" />-->
<!--      <choice next="#bomu_buy" />-->
<!--   </menu>-->
   <form id="english_buy">
      <block>
         <prompt>You want to buy seeds in English. Please listen to the following announcements.</prompt>
         <submit next="/play_announcements/lang1" method="get"/>
      </block>
   </form>
   <form id="dutch_buy">
      <block>
         <audio src="/announcements/recordings/dutch_buy.wav" fetchtimeout="5s"> </audio>
         <submit next="/play_announcements/lang2" method="get"/>
      </block>
   </form>
<!--   <form id="bambara_sell">-->
<!--      <block>-->
<!--         <prompt>You want to sell seeds in Bambara. Please record your announcement after the tone. Remember to say information about your seeds, your location, and your contact number</prompt>-->
<!--      </block>-->
<!--   </form>-->
<!--   <form id="bambara_buy">-->
<!--      <block>-->
<!--         <prompt>You want to buy seeds in Bambara. Please listen to the following announcements.</prompt>-->
<!--      </block>-->
<!--   </form>-->
<!--   <form id="bomu_sell">-->
<!--      <block>-->
<!--         <prompt>You want to sell seeds in Bomu. Please record your announcement after the tone. Remember to say information about your seeds, your location, and your contact number</prompt>-->
<!--      </block>-->
<!--   </form>-->
<!--   <form id="bomu_buy">-->
<!--      <block>-->
<!--         <prompt>You want to buy seeds in Bomu. Please listen to the following announcements.</prompt>-->
<!--      </block>-->
<!--   </form>-->
   <form id="record_announcement_english">
      <!--  the resulting recording is stored in the variable announcement
        you may only submit it to the server via the named variable  -->
      <record name="announcement" maxtime="60s" dtmfterm="true" beep="true" finalsilence="10s">
         <prompt>At the tone, please record your announcement. When you're done, press pound.</prompt>
         <filled>
            <log expr="announcement$.duration" />
            <log expr="announcement$.termchar" />
            <log expr="announcement$.size" />
            <prompt>
               Here's what buyers will hear.
               <break size="small" />
               <audio expr="announcement" />
            </prompt>
         </filled>
      </record>

      <field name="saveopt" type="digits?length=1">
         <prompt>If you want post this announcement, select 1. If you want to record a new announcement, select 2. To exit, select 3.</prompt>
         <filled>
            <if cond="saveopt == 1">
                  <submit next="/announcement/lang1" method="post" namelist="announcement" enctype="multipart/form-data" />
                  <clear namelist="pin"/>
                  <prompt> Announcement saved </prompt>
               <elseif cond="saveopt == 2"/>
                  <clear namelist="pin"/>
                  <goto next="#record_announcement_english" />
               <else/>
                  <prompt> Exiting </prompt>
            </if>
          </filled>
      </field>
   </form>


   <form id="record_announcement_dutch">
      <!--  the resulting recording is stored in the variable announcement
        you may only submit it to the server via the named variable  -->
      <record name="announcement" maxtime="60s" dtmfterm="true" beep="true" finalsilence="10s">
         <audio src="/announcements/recordings/dutch_sell.wav" fetchtimeout="5s"> </audio>
         <filled>
            <log expr="announcement$.duration" />
            <log expr="announcement$.termchar" />
            <log expr="announcement$.size" />
            <prompt>
               <audio src="/announcements/recordings/dutch_hear.wav" fetchtimeout="5s"> </audio>
               <break size="small" />
               <audio expr="announcement" />
            </prompt>
         </filled>
      </record>

      <field name="saveopt" type="digits?length=1">
         <audio src="/announcements/recordings/dutch_confirm.wav" fetchtimeout="5s"> </audio>         <filled>
            <if cond="saveopt == 1">
                  <submit next="/announcement/lang2" method="post" namelist="announcement" enctype="multipart/form-data" />
                  <clear namelist="pin"/>
                  <prompt>
                     <audio src="./announcements/recordings/dutch_saved.wav" fetchtimeout="5s"> Audio does not exist </audio>
                  </prompt>
               <elseif cond="saveopt == 2"/>
                  <clear namelist="pin"/>
                  <goto next="#record_announcement_dutch" />
               <else/>
                  <prompt> Exiting </prompt>
            </if>
          </filled>
      </field>
   </form>
</vxml>