<vxml version="2.1">
   <form>
        <block>
            {%  for announcement in announcements %}
                <prompt>
                    {% if language == 'lang1' %}
                        Announcement {{loop.index}}
                    {% elif language == 'lang2' %}
                        <audio src="/announcements/recordings/dutch_next_announcement.wav" fetchtimeout="5s"> Audio does not exist </audio>
                    {% else %}
                        Announcement {{loop.index}}
                    {% endif %}
                </prompt>
                <prompt>
                    <audio src="{{ announcement }}" fetchtimeout="5s"> Audio does not exist </audio>
                </prompt>
            {% endfor %}
        </block>
    </form>
</vxml>